[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
Environment=LD_LIBRARY_PATH=/home/totto2727/quic/openssl/build/lib 
ExecStartPre=/home/totto2727/quic/nginx-quic/build/sbin/nginx -t
ExecStart=/home/totto2727/quic/nginx-quic/build/sbin/nginx
ExecReload=/home/totto2727/quic/nginx-quic/build/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
