snippet key
	vim.keymap.set('${1:mode}', '${2:key}', '${3:action}')

snippet prequire
	local ok${2}, ${1:plugin} = pcall(require, "${1:plugin}")

snippet ifok
	if not (ok${1}) then return end

snippet export_vim
	${1/.*/\=v:lua.snake(submatch(0))/} = $2.${1/.*/\=v:lua.snake(submatch(0))/}
