snippet import
	import {${2}} from "${1}"

snippet importas
	import * as ${2} from "${1}"

snippet export
	export ${2:*} from "${1}"

snippet fn
	function ${1}($2){
		${3:return}
	}

snippet asyncfn
	async function ${1}($2){
		${3:return}
	}

snippet afn
	const ${1} = () => ${2}

snippet asyncafn
	const ${1} = async () => ${2}
