snippet fn
	const ${1} = () => ${2}

snippet asyncfn
	const ${1} = async () => ${2}

snippet import
	import ${2} from "${1}"

snippet state
	const [${1:name}, set${1/.*/\=v:lua.pascal(submatch(0))/}] = useState(${2:defaultValue})

snippet effect
	useState(()=>{
		${1}
	}, [])

snippet asyncEffect
	useState(() => {
		(async () => {
			${1}
		})()
	}, [])
