argcomplete==3.1.6
certifi==2023.11.17
cffi==1.16.0
cryptography==41.0.7
docutils==0.20.1
Jinja2==3.1.3
lxml==4.9.3
MarkupSafe==2.1.3
mercurial==6.6
packaging==23.2
pip==23.3.1
pip-review==1.3.0
pycparser==2.21
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
setuptools==69.0.2
six==1.16.0
tomlkit==0.12.3
wheel==0.42.0
xmltodict==0.13.0
xq==0.0.4
yq==3.2.3
